.Link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 314px;
  height: 69px;

  font-style: normal;
  font-family: var(--font-family-title);
  font-weight: var(--text-weight-bold);
  text-shadow: var(--shadow-default);

  color: var(--grayscale-snow);
  background-color: var(--color-main-orange-500);
  box-shadow: var(--shadow-default);
  border-radius: var(--border-radius-md);

  &:active {
    background-color: var(--color-main-active);
  }
}

.sm {
  width: 314px;
  height: 69px;
  font-size: var(--text-size-lg);
  background-color: var(--color-main-orange-600);
}

.lg {
  width: 314px;
  height: 80px;
  font-size: var(--text-size-title);
  background-color: var(--color-main-orange-500);

  &.selected {
    background-color: var(--color-main-orange-700);
  }
}
