.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-base);
}

.header {
  margin-top: var(--spacing-xl);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-family-title);
  font-size: var(--text-size-title);
  color: var(--grayscale-black);
}
.textBox {
  margin: var(--spacing-lg) auto 0;
  width: 520px;
  font-size: var(--text-size-lg);
}

.missionTitle,
.description {
  width: 100%;
  height: 60px;
  padding: 11px 24px;
  color: var(--grayscale-gray);
  background-color: var(--grayscale-white);
  font-weight: 600;
  line-height: 1.5;
  border-radius: 4px;
  margin: 0;
  box-shadow: var(--shadow-default);
}
.description {
  margin-top: var(--spacing-sm);
  min-height: 292px;
}

.buttonBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-base);
  margin-top: var(--spacing-lg);
}
.missionButton {
  font-size: var(--text-size-lg);
  background-color: var(--color-btn-default);
}

.backLink {
  position: absolute;
  top: var(--spacing-lg);
  left: var(--spacing-lg);
  transform: translate3d(0, -0.5rem, 0);
}
