.li {
  position: relative;
  width: 188px;
  height: 188px;
}

.heroButton {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: var(--spacing-base);
  text-align: left;
  color: var(--grayscale-white);
  background-color: var(--color-main-orange-700);
  border: none;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-default);
  transition: all var(--transition-fast);
}

.heroButton:hover,
.heroButton:active {
  background-color: var(--color-main-active);
}

.description {
  max-width: 100%;
  font-size: var(--text-size-base);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.maxReceivers {
  padding: var(--spacing-xs) 0;
  font-size: var(--text-size-sm);
}

.checkMission {
  font-size: var(--text-size-lg);
}
