.container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding-top: 10%;
}

.view {
  width: 522px;
  position: relative;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.cameraTextContainer {
  position: absolute;
  z-index: 999;
  width: 522px;
  height: 430px;
  text-align: center;
  font-size: var(--text-size-title);
  font-weight: var(--text-weight-bold);
  color: var(--grayscale-white);
  background: #d6d2c6;
  border-radius: var(--border-radius-md);
}

.cameraTitle {
  margin: 0;
  padding-top: 80px;
}

.plusText {
  font-size: 150px;
  margin: 0;
}

.video {
  background: #d6d2c6;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-default);
  margin: 0 auto;
  transform: scaleX(-1);
}

.canvas {
  position: absolute;
  left: 0;
  /* border-radius: var(--border-radius-md); */
  margin: 0 auto;
}

.countdownContainer {
  position: absolute;
  top: 0;
  z-index: 9;
}

.innerBorder {
  width: 480px;
  height: 400px;
  margin-left: 20px;
  margin-top: 15px;
  border: 8px solid var(--color-green);
  border-radius: var(--border-radius-md);
}

.countdownText {
  position: absolute;
  left: 25%;
  font-size: var(--text-size-lg);
  font-weight: var(--text-weight-bold);
  color: var(--color-green);
}

.countdownNumber {
  position: absolute;
  top: -10%;
  left: 40%;
  font-size: 150px;
  font-weight: var(--text-weight-bold);
  color: var(--grayscale-white);
}

.buttonContainer {
  width: 522px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: var(--spacing-lg);
}
