.hidden {
  display: none;
}

.show {
  display: block;
}

.container {
  position: relative;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding-top: 10%;
}

.backBtn {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-right: 50%;
}

.view {
  position: relative;
  width: 522px;
  margin-top: 30px;
  margin-left: 170px;
}

.blindBoard {
  z-index: 999;
  position: absolute;
  width: 522px;
  height: 430px;
  border-radius: var(--border-radius-md);
  text-align: center;
  font-size: var(--text-size-title);
  font-weight: var(--text-weight-bold);
  color: var(--grayscale-white);
  background: #d6d2c6;
}

.blindBoardTitle {
  padding-top: 80px;
}

.blindBoardIcon {
  font-size: 150px;
}

.countdownBoard {
  z-index: 99;
  position: absolute;
}

.countdownInnerContainer {
  width: 480px;
  height: 400px;
  border: 8px solid var(--color-green);
  border-radius: var(--border-radius-md);
  margin-left: 20px;
  margin-top: 15px;
}

.countdownTitle {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: var(--text-size-lg);
  font-weight: var(--text-weight-bold);
  color: var(--color-green);
}

.countdownNumber {
  position: absolute;
  top: 25%;
  left: 43%;
  font-size: 150px;
  font-weight: var(--text-weight-bold);
  color: var(--grayscale-white);
}

.loader {
  z-index: 9;
  position: absolute;
  width: 522px;
  height: 430px;
  border-radius: var(--border-radius-md);
  background-color: var(--color-main-orange-700);
  text-align: center;
  padding-top: 35%;
}

.video {
  border-radius: var(--border-radius-md);
  background: #d6d2c6;
  box-shadow: var(--shadow-default);
  margin: 0 auto;
  transform: scaleX(-1);
}

.canvasContainer {
  position: absolute;
  top: 0;
  border-radius: var(--border-radius-md);
}

.canvas {
  position: absolute;
  left: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  height: 69px;
  margin-top: 30px;
  margin-left: 170px;
}

.button {
  background-color: var(--color-main-orange-600);
}

.button:active,
.button:focus,
.button:hover {
  background-color: var(--color-main-orange-700);
}
