*:focus {
  outline: 5px solid var(--color-green);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border-style: none;
}

p {
  margin: 0;
}

#__next {
  background-color: var(--color-main-orange-400);
}

.srOnly,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

caption.srOnly {
  position: static;
}

.focusable:focus {
  overflow: initial;
  clip: auto;
  clip-path: unset;
  width: initial;
  height: initial;
  margin: initial;
  border: initial;
  padding: initial;
  white-space: initial;
}
