.container {
  width: 100vw;
  height: 100vh;
}

.missionContainer {
  margin: 0 auto;
  min-width: 984px;
  max-width: 95vw;
  height: 72vh;
  padding: var(--spacing-lg);
  background-color: var(--color-main-background);
  border-radius: var(--border-radius-md);
  overflow-y: scroll;
}

.missionContainer::-webkit-scrollbar {
  margin-right: 0;
  width: var(--text-size-base);
  background-color: var(--grayscale-white);
  border-radius: 8px;
}
.missionContainer::-webkit-scrollbar-thumb {
  background-color: var(--grayscale-gray);
  border: 4px solid var(--grayscale-white);
  border-radius: 8px;
}

.missionList {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-lg) var(--spacing-sm);
  justify-content: space-between;
  padding: 0;
}

.buttonBox {
  margin-left: auto;
}
