.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.title {
  font-size: var(--text-size-title);
  text-align: center;
  color: var(--color-main-orange-700);
  text-shadow: var(--shadow-default);
  margin-bottom: var(--spacing-lg);
}

.signupGap {
  gap: var(--spacing-lg);
}
.signupNav {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-top: var(--spacing-lg);
}

.signupGuide {
  font-size: 20px;
  color: var(--grayscale-gray);
}

.signupLink {
  font-size: var(--text-size-lg);
  font-weight: var(--text-weight-bold);
  color: var(--color-main-orange-700);
  text-decoration-line: underline;
}
.serverErrorMsg {
  margin-top: -28px;
}