:root {
  --color-green: #67E774; 
  --button-active: #C19802;

  --grayScale-snow: #f2f2f2; 
  --grayScale-lightGray: #d9d9d9; 
  --grayScale-gray: #999999; 
  --grayScale-darkGray: #666666; 
  --grayScale-dark: #262626; 

  --mainColor-orange3: #ffe480; 
  --mainColor-orange2: #ffd94d; 
  --mainColor-orange1: #ffc800; 

  --subColor-lightYello4: #ffffff; 
  --subColor-lightYello3: #fffae5; 
  --subColor-lightYello2: #fff4cc; 
  --subColor-lightYello1: #ffefb3; 
  
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-base: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */

  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.5rem; /* 24px */
  --text-subTitle: 2rem; /* 32px */
  --text-title: 2.5rem; /* 40px */

  --text-weight-light: 300; /* 300 */
  --text-weight-regular: 400; /* 400 */
  --text-weight-bold: 700; /* 700 */

  --border-radius-sm: 1rem; /* 16px */
  --border-radius-lg: 6.25rem; /* 100px */

  --shadow-default: 1px 3px 4px 2px rgba(0,0,0,0.25);
  --shadow-blur: 2px 2px 10px 0px #D9CC9E;
}