.Title {
  margin: 0;
  color: var(--grayscale-white);
  font-family: var(--font-family-content);
  font-size: var(--text-size-subTitle);
  font-weight: var(--text-weight-bold);
  text-shadow: var(--shadow-default);
}
