.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--spacing-lg) var(--spacing-base) var(--spacing-base);
}

.header {
  margin-top: var(--spacing-xl);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-family-title);
  font-size: var(--text-size-title);
  color: var(--grayscale-black);
}

.imageBox {
  margin-top: var(--spacing-lg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-base);
}

.message {
  margin-top: var(--spacing-lg);
  color: var(--grayscale-black);
  text-align: center;
  font-size: var(--text-size-subTitle);
  font-weight: var(--text-weight-bold);
  text-shadow: var(--shadow-default);
  & span {
    display: block;
  }
}

.heroName {
  margin-top: var(--spacing-sm);
  font-size: var(--text-size-title);
}

.closeLink {
  margin: var(--spacing-lg) auto 0;
  width: 520px;
  height: 70px;

  &:hover {
    background-color: var(--color-btn-hover);
  }
}
