.container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding-top: 10%;
}

.camera {
  width: 522px;
  height: 430px;
  background: #d6d2c6;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-default);
  margin: 0 auto;
}

.cameraTitle {
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-subTitle);
  color: var(--grayscale-white);
  text-align: center;
  line-height: 430px;
}

.buttonContainer {
  width: 522px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: var(--spacing-lg);
}
