.button {
  width: 522px;
  height: 69px;
  border-radius: var(--border-radius-lg);
  font-family: var(--font-family-content);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-lg);
  color: var(--grayscale-white);
  background: var(--color-main-orange-600);
  box-shadow: var(--shadow-default);
}

.button:active {
  background: var(--color-main-active);
  transition: var(--transition-fast);
}

.button:not(:disabled):hover {
  background-color: var(--color-main-hover);
  transition: var(--transition-fast);
}
.button:disabled {
  filter: grayscale(50%);
}

.xs {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-lg);
}

.sm {
  width: 105px;
  height: 45px;
}

.md {
  width: 180px;
  height: 69px;
  background: var(--grayscale-gray);
}
.md:active {
  background-color: var(--grayscale-darkgray);
}

.md:hover {
  background-color: var(--grayscale-darkgray);
}

.lg {
  width: 522px;
  height: 69px;
}
