.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 522px;
  height: 69px;
  border-radius: var(--border-radius-lg);
  font-family: var(--font-family-content);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-lg);
  color: var(--grayscale-white);
  background-color: var(--color-btn-default);
  box-shadow: var(--shadow-default);

  &:active {
    background: var(--color-main-active);
    transition: var(--transition-fast);
  }

  &:not(:disabled):hover {
    background-color: var(--color-btn-hover);
    transition: var(--transition-fast);
  }
  &:disabled {
    filter: grayscale(50%);
  }

  &.xs {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-lg);
  }

  &.sm {
    width: 105px;
    height: 45px;
  }

  &.md {
    width: 180px;
    height: 69px;
    background: var(--grayscale-gray);
  }
  &.md:active {
    background-color: var(--grayscale-darkgray);
  }

  &.md:hover {
    background-color: var(--grayscale-darkgray);
  }

  &.lg {
    width: 522px;
    height: 69px;
  }
}
