/* 히어로카드 */
.heroCardContainer {
  position: relative;
  width: 260px;
  height: 500px;
  margin-top: 20px;
  font-family: var(--font-family-content);
  box-shadow: var(--shadow-default);
  background: linear-gradient(180deg, #ea8274 1.86%, #fff1a9 98.23%);
  border-radius: var(--border-radius-md);
}

.completeNumber {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-lg);
  line-height: 19px;
  align-items: center;
  color: var(--grayscale-black);
}

.numberColor {
  color: var(--color-green);
}

.cartoonizeContainer {
  position: relative;
  width: 260px;
  height: 260px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px solid #fff;
}

.cartoonize {
  margin-left: 20px;
  object-fit: none;
  border-radius: 16px;
}

.title {
  font-family: var(--font-family-title);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-lg);
  text-align: center;
  padding-top: 10px;
}

.name {
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-title);
  text-align: center;
}

.description {
  font-weight: var(--text-weight-light);
  font-size: var(--text-size-md);
  color: var(--grayscale-darkgray);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
