.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 400px;
  min-height: 580px;
  padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-base);
  background-color: var(--color-main-orange-700);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-default);
}

.imageBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 300px;
  background-color: var(--color-main-orange-400);
  border: 8px solid var(--color-main-orange-600);
  border-radius: var(--border-radius-md);
}
.image {
  object-fit: contain;
}

.message {
  color: var(--grayscale-white);
  text-align: center;
  font-size: var(--text-size-subTitle);
  font-weight: var(--text-weight-bold);
  text-shadow: var(--shadow-default);
}

.heroName {
  margin-top: var(--spacing-sm);
  font-size: var(--text-size-title);
}

.closeButton {
  margin-top: var(--spacing-sm);
}
