.container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: var(--text-size-title);
  text-align: center;
  color: var(--color-main-orange-700);
  text-shadow: var(--shadow-default);
  padding-top: 90px;
  margin-bottom: 32px;
}

.input {
  margin-bottom: 32px;
}

.button {
  margin-top: 8px;
}

.signupGuide {
  font-size: 20px;
  color: var(--grayscale-gray);
}

.signupLink {
  font-size: var(--text-size-lg);
  font-weight: var(--text-weight-bold);
  color: var(--color-main-orange-700);
  text-shadow: var(--shadow-default);
}
