.container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.backBtn {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-right: 50%;
}

.view {
  width: 522px;
  position: absolute;
  top: 5%;
  left: 20%;
}

.title {
  font-size: var(--text-size-title);
  text-align: center;
  color: var(--color-main-orange-700);
  text-shadow: var(--shadow-default);
  padding-top: 90px;
  margin-bottom: 32px;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.button {
  margin: 0 auto;
}
