.linkContainer {
  font-family: var(--font-family-content);
  width: 95vw;
  height: 184px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
  padding-top: 2%;
}
.link:not(:disabled) {
  margin-left: auto;
  width: 180px;
  height: 69px;
  font-family: var(--font-family-content);
  font-size: var(--text-size-lg);
  background: var(--color-main-blue);
  border-radius: var(--border-radius-lg);

  &:hover {
    background: var(--color-btn-hover);
  }
}
.logout {
  background-color: var(--grayscale-gray);
  &:hover {
    background-color: var(--grayscale-darkgray);
  }
}
