.linkContainer {
  width: 95vw;
  height: 184px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
  padding-top: 2%;
}
.buttonBox {
  margin-left: auto;
}
.logout {
  width: 180px;
  height: 69px;
  background: var(--grayscale-gray);
  border-radius: var(--border-radius-lg);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-lg);
  color: var(--grayscale-white);
  background: red;
  box-shadow: var(--shadow-default);
}