.Link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 314px;
  height: 69px;

  font-style: normal;
  font-weight: var(--text-weight-bold);
  text-shadow: var(--shadow-default);

  color: var(--grayScale-snow);
  background-color: var(--mainColor-orange3);
  box-shadow: var(--shadow-default);
  border-radius: var(--border-radius-sm);
}

.sm {
  width: 314px;
  height: 69px;
  font-size: var(--text-lg);
  background-color: var(--mainColor-orange2);

  &:active {
    background-color: var(--mainColor-orange1);
  }
}

.lg {
  width: 314px;
  height: 80px;
  font-size: var(--text-title);
  background-color: var(--mainColor-orange3);

  &:active {
    background-color: var(--mainColor-orange2);
  }
  &.selected {
    background-color: var(--mainColor-orange1);
  }
}
